* {
  font-family: Muli, Arial, sans-serif;
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  + {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 1rem;
    }
  }
}
